# coding: utf-8

"""
    API para Programação Diária de Produção (PDP).

    API do PDP para obtenção de dados e informações sobre programação diária de produção.  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BalancoProgramadoApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def balanco_programado_listar_carga_medio_diaria(self, ano, mes, dia, **kwargs):  # noqa: E501
        """Listar a carga do balanço programado de energia médio diário (MWMED) por Região  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.balanco_programado_listar_carga_medio_diaria(ano, mes, dia, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ano: (Obrigatório) Data do PDP (Ano). (required)
        :param int mes: (Obrigatório) Data do PDP (Mes). (required)
        :param int dia: (Obrigatório) Data do PDP (Dia). (required)
        :return: BalancoCargaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.balanco_programado_listar_carga_medio_diaria_with_http_info(ano, mes, dia, **kwargs)  # noqa: E501
        else:
            (data) = self.balanco_programado_listar_carga_medio_diaria_with_http_info(ano, mes, dia, **kwargs)  # noqa: E501
            return data

    def balanco_programado_listar_carga_medio_diaria_with_http_info(self, ano, mes, dia, **kwargs):  # noqa: E501
        """Listar a carga do balanço programado de energia médio diário (MWMED) por Região  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.balanco_programado_listar_carga_medio_diaria_with_http_info(ano, mes, dia, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ano: (Obrigatório) Data do PDP (Ano). (required)
        :param int mes: (Obrigatório) Data do PDP (Mes). (required)
        :param int dia: (Obrigatório) Data do PDP (Dia). (required)
        :return: BalancoCargaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ano', 'mes', 'dia']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method balanco_programado_listar_carga_medio_diaria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ano' is set
        if ('ano' not in params or
                params['ano'] is None):
            raise ValueError("Missing the required parameter `ano` when calling `balanco_programado_listar_carga_medio_diaria`")  # noqa: E501
        # verify the required parameter 'mes' is set
        if ('mes' not in params or
                params['mes'] is None):
            raise ValueError("Missing the required parameter `mes` when calling `balanco_programado_listar_carga_medio_diaria`")  # noqa: E501
        # verify the required parameter 'dia' is set
        if ('dia' not in params or
                params['dia'] is None):
            raise ValueError("Missing the required parameter `dia` when calling `balanco_programado_listar_carga_medio_diaria`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ano' in params:
            query_params.append(('Ano', params['ano']))  # noqa: E501
        if 'mes' in params:
            query_params.append(('Mes', params['mes']))  # noqa: E501
        if 'dia' in params:
            query_params.append(('Dia', params['dia']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/programacao/repdoe/CargaMedioDiario', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BalancoCargaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def balanco_programado_listar_geracao_medio_diaria(self, body, **kwargs):  # noqa: E501
        """Listar a geração do balanço programado de energia médio diário (MWMED) por Região  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.balanco_programado_listar_geracao_medio_diaria(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BalancoRequest body: Parâmetros de requisição (required)
        :return: BalancoGeracaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.balanco_programado_listar_geracao_medio_diaria_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.balanco_programado_listar_geracao_medio_diaria_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def balanco_programado_listar_geracao_medio_diaria_with_http_info(self, body, **kwargs):  # noqa: E501
        """Listar a geração do balanço programado de energia médio diário (MWMED) por Região  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.balanco_programado_listar_geracao_medio_diaria_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BalancoRequest body: Parâmetros de requisição (required)
        :return: BalancoGeracaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method balanco_programado_listar_geracao_medio_diaria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `balanco_programado_listar_geracao_medio_diaria`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/programacao/repdoe/GeracaoMedioDiario', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BalancoGeracaoResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def balanco_programado_listar_intercambio_liquido_medio_diaria(self, ano, mes, dia, **kwargs):  # noqa: E501
        """Listar o intercâmbio liquido programado por Região  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.balanco_programado_listar_intercambio_liquido_medio_diaria(ano, mes, dia, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ano: (Obrigatório) Data do PDP (Ano). (required)
        :param int mes: (Obrigatório) Data do PDP (Mes). (required)
        :param int dia: (Obrigatório) Data do PDP (Dia). (required)
        :return: BalancoIntercambioLiquidoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.balanco_programado_listar_intercambio_liquido_medio_diaria_with_http_info(ano, mes, dia, **kwargs)  # noqa: E501
        else:
            (data) = self.balanco_programado_listar_intercambio_liquido_medio_diaria_with_http_info(ano, mes, dia, **kwargs)  # noqa: E501
            return data

    def balanco_programado_listar_intercambio_liquido_medio_diaria_with_http_info(self, ano, mes, dia, **kwargs):  # noqa: E501
        """Listar o intercâmbio liquido programado por Região  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.balanco_programado_listar_intercambio_liquido_medio_diaria_with_http_info(ano, mes, dia, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int ano: (Obrigatório) Data do PDP (Ano). (required)
        :param int mes: (Obrigatório) Data do PDP (Mes). (required)
        :param int dia: (Obrigatório) Data do PDP (Dia). (required)
        :return: BalancoIntercambioLiquidoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ano', 'mes', 'dia']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method balanco_programado_listar_intercambio_liquido_medio_diaria" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ano' is set
        if ('ano' not in params or
                params['ano'] is None):
            raise ValueError("Missing the required parameter `ano` when calling `balanco_programado_listar_intercambio_liquido_medio_diaria`")  # noqa: E501
        # verify the required parameter 'mes' is set
        if ('mes' not in params or
                params['mes'] is None):
            raise ValueError("Missing the required parameter `mes` when calling `balanco_programado_listar_intercambio_liquido_medio_diaria`")  # noqa: E501
        # verify the required parameter 'dia' is set
        if ('dia' not in params or
                params['dia'] is None):
            raise ValueError("Missing the required parameter `dia` when calling `balanco_programado_listar_intercambio_liquido_medio_diaria`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'ano' in params:
            query_params.append(('Ano', params['ano']))  # noqa: E501
        if 'mes' in params:
            query_params.append(('Mes', params['mes']))  # noqa: E501
        if 'dia' in params:
            query_params.append(('Dia', params['dia']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/programacao/repdoe/IntercambioLiquidoMedioDiario', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BalancoIntercambioLiquidoResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
