# coding: utf-8

"""
    API Energia Agora

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: sta-integracao-tec@ons.org.br
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class CargaMinutoAMinutoHojeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def gett_consultar_carga_minuto(self, cargasubsistema, **kwargs):  # noqa: E501
        """gett_consultar_carga_minuto  # noqa: E501

        Carga do dia minuto a minuto em MW  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.gett_consultar_carga_minuto(cargasubsistema, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cargasubsistema: (required)
        :return: CargaMinuto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.gett_consultar_carga_minuto_with_http_info(cargasubsistema, **kwargs)  # noqa: E501
        else:
            (data) = self.gett_consultar_carga_minuto_with_http_info(cargasubsistema, **kwargs)  # noqa: E501
            return data

    def gett_consultar_carga_minuto_with_http_info(self, cargasubsistema, **kwargs):  # noqa: E501
        """gett_consultar_carga_minuto  # noqa: E501

        Carga do dia minuto a minuto em MW  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.gett_consultar_carga_minuto_with_http_info(cargasubsistema, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cargasubsistema: (required)
        :return: CargaMinuto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cargasubsistema']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method gett_consultar_carga_minuto" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cargasubsistema' is set
        if ('cargasubsistema' not in params or
                params['cargasubsistema'] is None):
            raise ValueError("Missing the required parameter `cargasubsistema` when calling `gett_consultar_carga_minuto`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'cargasubsistema' in params:
            path_params['cargasubsistema'] = params['cargasubsistema']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Bearer']  # noqa: E501

        return self.api_client.call_api(
            '/energiaagora/Get/{cargasubsistema}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CargaMinuto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
